[submodule "dots/.oh-my-zsh"]
	path = dots/.oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "dots/omz-custom-themes/powerlevel10k"]
	path = dots/omz-custom-themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
