pkgbase = dot166-metapackage
	pkgdesc = metapackage for common applications and dotfiles
	pkgver = 4
	pkgrel = 4
	install = dot166-metapackage.install
	arch = x86_64
	license = GPL
	depends = grapheneos-devel
	depends = git
	depends = vim
	depends = android-studio
	depends = github-cli
	depends = jdk17-openjdk
	depends = ttf-comic-sans
	depends = hyfetch
	depends = fastfetch
	depends = pipewire-pulse
	depends = maliit-keyboard
	depends = linux-headers
	depends = libreoffice-fresh-en-gb
	depends = hunspell
	depends = hunspell-en_gb
	depends = gnome-calculator
	depends = firefox
	depends = bluez
	depends = bluez-utils
	depends = zsh
	depends = gnome-keyring
	depends = vi-vim-symlink
	depends = gdm
	depends = gnome-applets
	depends = gnome-browser-connector
	depends = gnome-calendar
	depends = gnome-characters
	depends = gnome-console
	depends = gnome-control-center
	depends = gnome-disk-utility
	depends = gnome-font-viewer
	depends = gnome-online-accounts
	depends = gnome-shell
	depends = gnome-shell-extension-compiz-windows-effect-git
	depends = gnome-shell-extension-desktop-icons-ng
	depends = gnome-shell-extensions
	depends = gnome-tweaks
	depends = gvfs-mtp
	depends = gvfs-google
	depends = qt5-wayland
	depends = gnome-system-monitor
	depends = signal-desktop
	depends = ntfs-3g
	depends = gnome-text-editor
	depends = rustrover
	depends = rustrover-jre

pkgname = dot166-metapackage