pkgbase = dot166-metapackage
	pkgdesc = metapackage for common applications and dotfiles
	pkgver = 6
	pkgrel = 1
	arch = x86_64
	license = GPL
	depends = grapheneos-devel
	depends = git
	depends = vim
	depends = android-studio
	depends = github-cli
	depends = jdk17-openjdk
	depends = ttf-comic-sans
	depends = hyfetch
	depends = fastfetch
	depends = pipewire-pulse
	depends = maliit-keyboard
	depends = linux-headers
	depends = libreoffice-fresh-en-gb
	depends = hunspell
	depends = hunspell-en_gb
	depends = waydroid
	depends = firefox
	depends = zsh
	depends = vi-vim-symlink
	depends = gnome-characters
	depends = gnome-disk-utility
	depends = qt5-wayland
	depends = signal-desktop
	depends = ntfs-3g
	depends = rustrover
	depends = rustrover-jre
	depends = hyprland
	depends = hyprpaper
	depends = waybar
	depends = wofi
	depends = eww
	depends = ttf-jetbrains-mono-nerd
	depends = xdg-desktop-portal-hyprland
	depends = rustup
	depends = nwg-look
	depends = network-manager-applet
	depends = dunst
	depends = hyprshot
	depends = otf-font-awesome
	depends = kitty
	depends = gnome-system-monitor
	depends = thunar-archive-plugin
	depends = thunar-media-tags-plugin
	depends = thunar-vcs-plugin
	depends = thunar-volman
	depends = thunar
	depends = leafpad
	depends = figlet
	depends = lolcat
	depends = thefuck
	depends = hyprpolkitagent
	depends = gvfs
	depends = gvfs-smb
	depends = emptty
	depends = bottles
	depends = blueman
	depends = joplin

pkgname = dot166-metapackage
